h1, h2{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    font-family: sans-serif;
}
img {
    height:300px;
    width: auto;
}
.padding_default {
    padding: 50px 100px 50px 100px;
    color: white;
    height: auto;
    box-sizing: border-box;
    min-height: 100vh;
}
li{
    line-height: 2.5;
}
hr{
    border-top: 10px dotted white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 30px 0;
}

.edu h2, .personality h2, .skill h2, .lang h2{
    font-size: 3rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position:sticky;
    top: 0;
}


/* intro */

.intro{
    background-color: tomato;
    position:sticky;

}

.intro h1{
    color:white;
    font-size: 7rem;
}

.intro img{
    float: right;
}

/* edu */

.edu{
    background-color: mediumseagreen;
}
.edu h2{
    color: mediumseagreen;
}
.edu a{
    float: right;
}


/* skill */

.skill{
    background-color: slateblue;
}
.skill h2{
    color: slateblue;
}

/* personality */

.personality{
    background-color: darkcyan;
}

.personality h2{
    color: darkcyan;
}

/* lang */

.lang{
    background-color: salmon;
}

.lang h2{
    color: salmon;
}

@media (max-width: 768px) { 
    .padding_default {
        padding: 30px 10px;
    }
    img{
        height: 150px;
    }
    .intro h1{
        text-align: center;
        font-size: 4rem;
    }
    .intro img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .edu a{
        text-align: center;
        float: none;
    }
    #ndhuimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}